@tailwind base;
@tailwind components;
@tailwind utilities;

.todo {
  background-color: rgb(17, 96, 90);
  min-height: 40%;
  width: 26%;
  border-radius: 20px;
  left: 35%;
  top: 15%;
  position: absolute;
  padding-bottom: 15px;
  box-shadow: 5px 5px 15px 15px;
}

.sub {
  font-family: Times;
  text-align: center;
}

h2 {
  color: blanchedalmond;
  font-size: 30px;
}

#text {
  width: 60%;
  font-size: 165%;
  border-radius: 10px;
  padding-left: 30px;
  background-color: black;
  color: antiquewhite;
}

#send {
  font-size: 165%;
  width: 20%;
  border-radius: 10%;
  background-color: blanchedalmond;
  color: brown;
  font-weight: bold;
  font-family: Gill Sans;
}

.display {
  width: 80%;
  font-size: 165%;
  border: 2px solid;
  border-radius: 12px;
  margin-left: 5%;
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 12%;
}

.wrapper {
  display: grid;
  gap: 10px;
}